.minichart-layout {
    width: 50%;
}

.compare-desc {
    margin: 0 3rem 1rem;
    display: flex;
    gap: 20
}

@media only screen and (max-width: 800px) {
    .compare-desc {
        display: block;
    }
}